@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6E6C2;  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster', cursive;
}

.titulo {
  z-index: 2;
  background: #ffffff;
  opacity: 0.8;
  padding: 15px;
  border-radius: 15px;
}

.titulo h1 {
  font-size: 2rem;
}

svg {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

@keyframes girarIzquierda {
  100% {
      transform: rotate(-360deg);
  }
}

@keyframes girarDerecha {
  100% {
      transform: rotate(360deg);
  }
}

.amarillo {
  animation: girarIzquierda 40s linear infinite;
  transform-origin: 13px 25px;
}

.naranja {
  animation: girarDerecha 20s linear infinite;
  transform-origin: 13px 25px;
}

.azul {
  animation: girarDerecha 25s linear infinite;
  transform-origin: 84px 93px;
}

.rosa {
  animation: girarIzquierda 35s linear infinite;
  transform-origin: 84px 93px;
}


.youtube_chanel {
  z-index: 2;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  font-family: sans-serif;
  min-height: 2rem;
}

.youtube_link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.youtube_link:hover {
  text-decoration: underline;
}

